ARBUZAS_TZ=Europe/Riga

ARBUZAS_TRAIN_BOT_PORT=9317
ARBUZAS_SATIKSME_BOT_PORT=9318
ARBUZAS_SUBSCRIPTION_BOT_PORT=9320
ARBUZAS_DNS_HTTPS_PORT=2789
ARBUZAS_DNS_DOT_PORT=2790

ARBUZAS_TRAIN_BOT_HOSTNAME=train-bot.jolkins.id.lv
ARBUZAS_SATIKSME_BOT_HOSTNAME=satiksme-bot.jolkins.id.lv
ARBUZAS_SUBSCRIPTION_BOT_HOSTNAME=farel-subscription-bot.jolkins.id.lv
ARBUZAS_DNS_HOSTNAME=dns.jolkins.id.lv
ARBUZAS_DOCKER_PLATFORM=linux/amd64

ARBUZAS_PORTAINER_SERVER_IMAGE=portainer/portainer-ce:lts
ARBUZAS_PORTAINER_AGENT_IMAGE=portainer/agent:lts
ARBUZAS_CLOUDFLARED_IMAGE=cloudflare/cloudflared:latest
